/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/* Body */
body {
  font: 14px/165% 'Lucida Grande', Verdana, Helvetica, sans-serif;
  color: #666666; 
  margin: 0; 
  padding: 0 0 50px 0; 
  background: #F6F5F5 url(../images/bg.gif) repeat-x;
}

#body_content {
  background: #fff;
  border-bottom: 1px solid #E8E8E8;
  padding: 5px 0;
	
}

/* HEADER */

header {
	margin-top: 10px;
	height: 255px;
    background-repeat: no-repeat;
	}

header #logo {
		border-bottom: 5px solid #376828;
		margin: 0 0 0 0;
}

header h1#logo { 
	margin: 10 0 0 0; 
	padding: 0;
	height: 200px;
background-image: url(http://tsgweb.herokuapp.com/system/images/BAhbBlsHOgZmSSIrMjAxMS8wNy8xNC8xNS8wMi8wMi82NDAvdHNnX2hlYWRlci5wbmcGOgZFVA/tsg-header.png);
}
header h1#logo a {
	position: relative;
	top: 40px;
	font: normal 60px Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -2.7px;
	color: #376828;
	text-decoration: none;
}
#header h1#logo a:hover { border: none; }

/* Links */
a:link, a:visited { 
	text-decoration: none;
	color: #AE855C;	
}
a:hover {
	border-bottom: 1px dotted #AE855C;	
}
a.more {
	padding-bottom: 2px;
	font-weight: bold;	
	border-bottom: 1px dotted #AE855C;	
}
a:hover.more {
	text-decoration: none;
}

/* Navigation */ 
.menu ul {
	height: 45px;
	margin: 5px 0 0 0;
	padding: 0 0 0 15px;

}
.menu li {
  padding: 0px;
  margin: 0px 9px 0px 0px;
  list-style: none;
  float: left;
}

.menu li a {
	margin: 0;
	padding: 15px 15px 10px 10px;
	color: #666666;
	font: bold 15px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
	text-transform: uppercase;
}

.menu li a:hover, 
.menu li a:active {
	border: none;
	color: #111;
	background: transparent;
}
.menu li.last {
  margin-right: 0px;
}

.menu li.selected > a {
  color: #444;
  background: #fff;
  border-bottom: 3px solid #376828;
}

/* body content */
#body_content p {
	padding: 0  0 5px 10px;
}
#body_content h1 {
	font: normal 2.7em Georgia, 'Times New Roman', Times, Serif;
	color: #444;
	letter-spacing: -2.2px;
	margin-top: 0.3em;	
	margin-left: 5px;	
	margin-right: 15px;
	margin-bottom: 0.1em;
	padding-left: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ebebeb;	
}
#body_content h1 a {
	color: #444;
	border: none;
}

#body_content_left {
  float: left;
  width: 599px;
  border-right: 1px solid #ebebeb;
}
#body_content_right {
  float: right;
  width: 400px;	
}
#body_content_left .inner {
  
  padding-right: 10px;
}     
#body_content_right .inner {
  padding-left: 10px;
}

/* Footer */

footer p {
	padding-left: 35%;
	margin-top: 0px;
}

/* News Style */ 

#body_content .news_item_truncated {
	padding: 0px 10px;
	margin: 20px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
}

#body_content .news_item_truncated h3 {
	font: normal 1.7em Georgia, 'Times New Roman', Times, Serif;
	color: #444;
	letter-spacing: -0.8px;
	margin-top: 0.3em;	
	margin-left: 5px;	
	margin-right: 15px;
	margin-bottom: 0.2em;
	padding-left: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ebebeb;
}

#body_content .news_item_truncated p {
	margin-top: 1px;
	margin-bottom: 5px;
}

#body_content .news_item p {
	margin-top: 1px;
}


/* form elements */
form {
	margin: 10px; 
	padding: 15px 25px 25px 20px; 
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
}
form p {
	border-bottom: 1px solid #E6E6E6;
	padding: 12px 0 5px 0;	margin: 0;	
	color: #7BA857;
}
label {
	font-weight: bold;
	color: #7BA857;
	font-size: 1.2em;
}
input, select, textarea {
	margin: 0;
	padding: 5px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
input:focus, select:focus, textarea:focus {
	color: #7BA857;
	background: #EFFAE6;
}

.actions {
	padding-bottom: 10px;
	padding-left: 50px;
}

.actions #inquiry_submit{
	float: left;
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 20px; 
	color: #fff;
	background: #9CCF5F;
	border-width: 1px;
  	border-style: solid;
  	border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
}


.inquiries form label {
	width: 100px;
}

/* Engines Index List Style */

#body_content #engine_index_list_container {
	background: #F6F5F5;
	margin: 20px 20px;
	padding-top: 5px;
	min-height: 150px;
}

#body_content #engine_index_list_container img {
	padding: 10px 15px;
	border-right: 1px solid #E8E8E8;
}

#body_content #engine_index_list_container p {
	padding: 30px 150px 30px 0;
	float: right;
	font-size: 20px;
}

/* Engines Show */

#body_content_left_engines_show {
  float: left;
  width:649px;
  border-right: 1px solid #ebebeb;
}
#body_content_right_engines_show {
  float: right;
  width: 250px;	
}

#body_content_left_engines_show .photo{
margin: 20px;
}

#body_content_left_engines_show ul {
	list-style-type: none;
}