/*
  Override default refinery homepage styles here.
  These only apply to the homepage of your site.
*/

#latest_news ul {
	padding-left: 0px;
}

#twitter {
	padding: 20px 50px;
}



#latest_news .news_item_truncated p {
	padding: 5px;
	margin: 0;
}