<section id='body_content'>
	<div id="body_content_left">
		
				<div id="latest_news">
		<h1>Spielankündigungen</h1>  	
		<ul> 
					<% @announcement_items.each do |item| %> 
					<article class="news_item_truncated">
					        <h2><%= link_to item.teamname + " - " + item.hometeam + " : " + item.awayteam, announcement_path(item) %></h2>
					<% end %>
				</ul>
				</div>
				
		<div id="latest_news">
<h1>News</h1>  	
<ul> 
			<% @news_items.each do |item| %> 
			<article class="news_item_truncated">
			        <h2><%= link_to item.title, news_item_url(item) %></h2>
			      </article> 
			<% end %>
		</ul>
		</div>
</div>

	<div id="body_content_right">
		<div id="twitter">
  	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 5,
	  interval: 6000,
	  width: 230,
	  height: 350,
	  theme: {
	    shell: {
	      background: '#f8f8f8',
				color: '#376828',
				
	    },
	    tweets: {
	      background: '#f8f8f8',
	      links: '#AE855C'
	    }
	  },
	  features: {
	    scrollbar: true,
	    loop: false,
	    live: false,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'all'
	  }
	}).render().setUser('tsgtrippstadt').start();
	</script>
</div>
</div>
</section>


